.panel.panel-default.project-list
  .panel-heading
    %strong= list.name
    .panel-tools
      .btn-group
        %a.btn.add-card-btn{href: '#', data: {target: 'add-card-form-1'}}
          %i.icon-plus
          Add a card
    %form.add-card-form{rel: 'add-card-form-1'}
      %textarea.pull-left.form-control{placeholder: 'Type card details...', type: 'email'}
      .actions.pull-right
        %button.btn.btn-success{type: 'submit'}
          %i.icon-check-sign.icon-large
        %button.btn.btn-default
          %i.icon-remove-sign.icon-large
    .clearfix
  .panel-body.project-list-item
    =render list.cards