- content_for :toolbar do
  = link_to new_list_path, class: 'btn btn-default' do
    %i.icon-plus
    = t('action_button.new', resource_name: List.model_name.human)

.panel.panel-default.grid
  =blankable(@lists)
  .panel-footer
    .pagination.pagination-sm
      = will_paginate @lists, renderer: BootstrapPagination::Rails, bootstrap: 3