- if comment.id.present?
  .row
    .col-md-1
      = image_tag avatar_url(comment.user), class: 'img-circle ', data: { toggle: 'toolbar-tooltip' }, title: comment.user.name
    .col-md-11
      = comment.body