- if comment.id.present?
  .bs-callout
    = image_tag avatar_url(comment.user), class: 'img-circle avatar-image avatar-image-sml'
    %strong= comment.user.name
    %span.pull-right= comment.created_at.to_formatted_s(:short)

    %p.margin-up
      = comment.body