%tr
  %td
    =image_tag avatar_url(user), class: 'img-circle avatar-image avatar-image-sml', data: { toggle: 'toolbar-tooltip' }, title: user.name
    =user.name
  %td=user.email
  %td.action
    - if @current_project.owner != user
      =link_to collaborator_path(@current_project, email: user.email), method: :delete, confirm: 'Are you sure?', remote: true, class: 'btn btn-danger' do
        %i.icon-remove-sign
    - else
      %span.label.label-default Owner