%tr
  %td=user.name
  %td=user.email
  %td.action
    - if @current_project.owner != user
      =link_to collaborator_path(@current_project, email: user.email), method: :delete, remote: true, class: 'btn btn-danger' do
        %i.icon-remove-sign
    - else
      %span.label.label-default Owner