.table-header.row
  .col-lg-9
    TODO: Add filters here
  .col-lg-3
    = search_form_for @search, builder: SimpleForm::FormBuilder do |f|
      .input-group

        %span.input-group-btn
          = button_tag( class: 'btn') do
            %i.icon-search