.nested-fields
  .row
    .col-md-11
      = f.input :name, label: false, placeholder: 'List name', value: 'list_item'
    .col-md-1
      = link_to_remove_association f do
        %i.icon-remove-sign