- content_for :toolbar do
  #assign-project-collaborators
    - @project.users.each do |user|
      = image_tag avatar_url(user), class: 'img-circle draggable', id: user.id, title: user.name

.vertical-scroll{style: "width: #{@lists.count*315}px"}
  =render @lists
