/*
 * This is a manifest file that will be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

@import 'hierapolis'

#assign-project-collaborators
  img
    width: 35px
    margin-left: 5px
    cursor: move

ul.ui-autocomplete
  position: absolute
  width: 400px
  margin: 0
  padding: 0
  top: 20px
  list-style: none
  border: solid 1px $silver
  +border-radius(5px)
  cursor: default
  li
    background-color: $clouds
    +border-radius(5px)
    border-top: solid 1px #ddd
    margin: 0
    padding: 2px
    a
      color: #000
      display: block
      padding: 3px
    a.ui-state-hover, a.ui-state-active
      background-color: orange
      color: #ffffff

.add_fields, .remove_fields
  @extend .btn
.add_fields
  @extend .btn-default
.remove_fields
  @extend .btn-danger
  float: right

.switcher
  margin-left: -20px !important
  a.dropdown-toggle
    color: $base-dark-color !important
  .dropdown-menu:after
    right: 208px !important
  .dropdown-menu
    min-width: 233px !important
    li.active
      padding: 4px 10px 0 10px
      color: $base-color
      i
        margin-right: 5px
    > li.project > a
      padding: 3px 11px
      i
        margin-right: 5px
    li.project
      a:hover
        background-color: rgba(0,0,0,0)
        color: $base-color
    li.action
      padding: 0 10px 5px 10px

// Hierapolis overrides
.sprite-image, #beaker
  background-image: url('sprite.png')
body.login .wrapper .brand h1 .logo-icon i[class*='icon-']
  margin-left: -2px !important
#navbar .navbar-brand
  margin-top: -3px !important

// Project and cards
.vertical-scroll
  overflow: scroll

.project-list
  &:active
    cursor: move !important
  width: 300px !important
  float: left
  margin-right: 10px

  form.add-card-form
    //display: none
    textarea
      width: 220px
      height: 75px
    .actions
      width: 48px
      text-align: right
      button
        margin-bottom: 6px
        display: inline-block
        width: 33px
        padding:
          top: 7px
          left: 7px
        i.icon-remove-sign
          color: $silver
  .project-list-item
    width: 300px !important
    float: left
    max-height: 500px
    overflow-y: scroll
    .card
      &:active
        cursor: move
      cursor: pointer
      border: 1px solid $panel-default-border
      width: 100%
      height: 66px
      margin-bottom: 5px
      background-color: gray
      border-radius: 5px
      background-color: #f3f3f3
      padding: 5px
      margin-bottom: 15px
      a.close
        margin:
          top: -10px
          right: -4px

      p.title
        padding-top: 0px
        margin: 0 0 4px
        width: 200px
      .stats
        &.extended
          width: 255px
        width: 202px
        border-top: 1px solid $silver
        padding-top: 5px
        .stat
          @extend .btn, .btn-default
          padding: 3px
          font-size: 0.8em
          float: left
          margin-right: 2px
      .user
        img
          float: right
          width: 50px
          margin:
            top: -25px
            right: 2px

    .user-icon
      @extend .icon-list
      float: right
      margin-right: 10px

  .project-list-item::-webkit-scrollbar
    display: none
  .vertical-scroll::-webkit-scrollbar
    display: none
  .project-list-item::-moz-scrollbar
    display: none

.ui-sortable-placeholder
  border: 1px dashed $silver !important
  visibility: visible !important
  height: 50px !important





