%i#toggle.icon-align-justify.icon-large

%ul#dock
  - if @current_project
    - if (params[:controller] == 'projects' && params[:action] == 'show') || (params[:controller] == 'cards' && params[:action] == 'show')
      %li.launcher.active
        %i.icon-tasks
        =link_to 'Kanban', @current_project
    - else
      %li.launcher
        %i.icon-tasks
        =link_to 'Kanban', @current_project
  - if params[:controller] == 'projects' && params[:action]== 'index'
    %li.launcher.active
      %i.icon-suitcase
      =link_to 'Projects', projects_path
  - else
    %li.launcher
      %i.icon-suitcase
      =link_to 'Projects', projects_path
  - if params[:controller] == 'collaborators'
    %li.launcher.active
      %i.icon-group
      %a{href: collaborators_path} Collaborators
  - else
    %li.launcher
      %i.icon-group
      %a{href: collaborators_path} Collaborators
  -#%li.launcher.dropdown.hover
  -#  %i.icon-envelope
  -#  %a{href: '#'} Messages
  -#  %ul.dropdown-menu
  -#    %li
  -#      %a{:href => '#'} New message
  -#    %li
  -#      %a{:href => '#'} Inbox
  -#    %li
  -#      %a{:href => '#'} Out box
  -#    %li
  -#      %a{:href => '#'} Trash
  %li.launcher
    %i.icon-bug
    %a{href: 'http://railsrumble.com/entries/357-ganban', target: '_blank'} Feedback

= image_tag 'beaker.png', data: {toggle: 'tooltip'}, title: 'Made by lab2023', id: 'beaker-img'