%i#toggle.icon-align-justify.icon-large

%ul#dock
  - if @current_project
    %li.launcher.active
      %i.icon-tasks
      =link_to 'Kanban', @current_project

  %li.launcher
    %i.icon-suitcase
    =link_to 'Projects', projects_path
  %li.launcher
    %i.icon-group
    %a{href: collaborators_path} Collaborators
  -#%li.launcher.dropdown.hover
  -#  %i.icon-envelope
  -#  %a{href: '#'} Messages
  -#  %ul.dropdown-menu
  -#    %li
  -#      %a{:href => '#'} New message
  -#    %li
  -#      %a{:href => '#'} Inbox
  -#    %li
  -#      %a{:href => '#'} Out box
  -#    %li
  -#      %a{:href => '#'} Trash
  -#%li.launcher
  -#  %i.icon-bug
  -#  %a{href: '#'} Feedback

#beaker{data: {toggle: 'tooltip'}, title: 'Made by lab2023'}